<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="allToIndex">
<match url="^((?!css).)*$"/>
<action type="Rewrite" url="index.php" appendQueryString="true"/>
<conditions logicalGrouping="MatchAll">
<add input="{REQUEST_URI}" pattern="\.png|\.css|\.jpg" negate="true" />
<add input="{QUERY_STRING}" pattern="cart?action=add" negate="true" />
<add input="{QUERY_STRING}" pattern="cart?action=remove" negate="true" />
<add input="{QUERY_STRING}" pattern="cart?action=view" negate="true" />

</conditions>
</rule>

</rules>
</rewrite>
</system.webServer>
</configuration>